@import url('https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

h3, h4 {
  margin: 0 0 0 0;
  color: white;
  cursor: default;
}